/* Stylesheet für die Übungswebsite aus "Einstieg in HTML und CSS" */

body {
    background-color: floralwhite;
    color: black;
}

header {
    background-color: steelblue;
    color: white;
    padding: 1rem;
}